@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This site is for uploading a file and then downloading it again</h3>

<div>
    Why? you might ask.
</div>
<div>
    Say you are a developer and have a large file you want to send to a server.<br/>
    Either set up a FTP, secure it with SSL and then execute an FTP client on the server to download your payload.<br/>
    Or upload the file through HTTPS to a server of known quality and location and download it again on the server through HTTPS. Nothing to install. Nothing bounces through NSA:ed Google or Dropbox.
</div>

<div>
    The solution is open source under GPL so you are not only free but also <i>encouraged</i> to copy.
</div>
